body {
    margin-left: 15%;
    margin-right: 15%;
}

.container {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
}

#header {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    text-decoration-line: underline;
    color: #070F18;
    margin-top: 40px;
    margin-bottom: 40px;
}

#headerCta p{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
}

#headerCta h1{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    color: #000000;
}


#headerImg {
    margin-left: 42px;
}


#headerImg img{
    width: 100%;
}


.HeaderLogo {
    text-align: center;
}


#menu {
    text-align: right;
    margin-top: 49px;
}

#menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;

}

#menu li {
    font-family: Poppins;
    display: inline-block;
    margin-left: 20px;
    color: #070F18;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}

a{
    color: black;
    text-decoration: none;

}


#buttonCta {
    background: #1F7CFF;
    border-radius: 50px;
    font-family: Poppins;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: white;
    padding: 10px 25px;
}


#Clients {
    margin-top: 50px;
    margin-bottom: 50px;
}


#HeaderClientText {
    font-family: Poppins;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    color: #070F18;
}


h2.red{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #F75C4E;  
}

h1.black{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    text-align: center;
    color: #000000;
    margin-top: 0px;
    margin-bottom: 18px;
}


#services p{
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: center;
    color: #575455;
    margin-top: 0px;


}


.icon{
    margin-top: 30px;
    margin-left: 150px;
    margin-bottom: 15px;
}


.textCenter p{
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: center;
    color: #575455;
    margin-top: 0px;
}

.textCenter h2{
    font-family: Poppins;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 0px;

}

#imgCenter {
    width: 100%;
    margin-top: 60px;
}



#textMid {
    font-family: Poppins;
    margin-top: 120px;
    margin-left: 60px;
    margin-right: 0px;
    text-align: left;
    font-weight: 600;
    margin-bottom: 0px;
}

#textMid p {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    color: #575455;
    margin-top: 0px;
}


#textMid h2{
    text-align: left;
    margin-bottom: 0px;
}

#textMid h1{
    text-align: left;
    margin-bottom: 15px;
    margin-top: 5px;
}


#textMid input{
    background-color:#F5F6FB;
    color:black;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 400;
    border-radius: 30px;
    padding-left: 30px;
    padding-right: 130px;
    margin-top: 17px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
}

button{
    margin-top: 15px;
    border: none;
    border-radius: 30px;
    background: #1F7CFF;
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Poppins;
    font-size: 13px;
    font-weight: 600;  
    text-align: left; 
}


#conheca {
    margin-top: 150px;
    text-align: left;
    margin-left: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}


#conheca h1 {
    font-family: Poppins;
    text-align: left;
    font-weight: 700;
    margin-bottom: 0px;
    margin-top: 10px;
}

#conheca h2{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    color: #F75C4E; 
    margin-bottom: 0px; 
}

#portClients{
    margin-top: 40px;
    width: 100%;

}

.imgPort {
    padding: 20px;
}